doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/users/logout") Logout

    h1 This is an Authenticated page

    block content
