doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")

  body
    ul
      li
        a(href="/users/logout") Logout

    h1 This is an Authenticated page

    block content

    script(src="/javascripts/messaging.js")